spring:
  application:
    name: teenyfinny_channel
  lifecycle:
    timeout-per-shutdown-phase: 60S # ??: ?, ???? ?? ????
  profiles:
    include: secret
  jackson:
    time-zone: Asia/Seoul

server:
  port: 8080
  shutdown: graceful
  timezone: Asia/Seoul

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health, metrics, info, drain
  endpoint:
    health:
      show-details: never
      probes:
        enabled: true
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true
